
<div class="container max-w-7xl mx-auto py-12">
    <div class="text-center mb-12">
     <p class="text-teal-600 font-semibold">
      EXPERT TEAM
     </p>
     <h1 class="text-3xl font-bold text-gray-800">
      Meet Our Team Expert &amp; Experience Members
     </h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
     <div class="bg-white p-6 rounded-lg shadow-lg">
      <img alt="Portrait of Mesiva Sccot" class="w-full h-64 object-cover rounded-t-lg" height="400" src="https://storage.googleapis.com/a1aa/image/YQ5TWVpmILp7O9QCTkTcuMUDMlpkzYA37RRe5Ye4WQAZeFXnA.jpg" width="600"/>
      <div class="p-4">
       <h2 class="text-xl font-bold text-gray-800">
        Mesiva Sccot
       </h2>
       <p class="text-gray-600">
        Marketing Ex.
       </p>
       <div class="flex mt-4 space-x-3">
        <a class="text-teal-600" href="#">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-twitter">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-linkedin-in">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg">
      <img alt="Portrait of Jeson Thomson" class="w-full h-64 object-cover rounded-t-lg" height="400" src="https://storage.googleapis.com/a1aa/image/2ydWSlbFmuKeeESefJ0AIw3arSJCYAODgiq3vo3UpGaj5LuOB.jpg" width="600"/>
      <div class="p-4">
       <h2 class="text-xl font-bold text-gray-800">
        Jeson Thomson
       </h2>
       <p class="text-gray-600">
        Marketing Ex.
       </p>
       <div class="flex mt-4 space-x-3">
        <a class="text-teal-600" href="#">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-twitter">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-linkedin-in">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg">
      <img alt="Portrait of Kohn Wright" class="w-full h-64 object-cover rounded-t-lg" height="400" src="https://storage.googleapis.com/a1aa/image/6ZAZvKeRbUQiTiJz829YmJwNpAtisTbZAz9YkasYFi6NfirTA.jpg" width="600"/>
      <div class="p-4">
       <h2 class="text-xl font-bold text-gray-800">
        Kohn Wright
       </h2>
       <p class="text-gray-600">
        Marketing Ex.
       </p>
       <div class="flex mt-4 space-x-3">
        <a class="text-teal-600" href="#">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-twitter">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-linkedin-in">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="bg-white p-6 rounded-lg shadow-lg">
      <img alt="Portrait of Andrew Schimke" class="w-full h-64 object-cover rounded-t-lg" height="400" src="https://storage.googleapis.com/a1aa/image/vp1SWLadYiKEO9cEPi6b8cIdgIynNOGBY9OoiKHLm8tlv46E.jpg" width="600"/>
      <div class="p-4">
       <h2 class="text-xl font-bold text-gray-800">
        Andrew Schimke
       </h2>
       <p class="text-gray-600">
        Marketing Ex.
       </p>
       <div class="flex mt-4 space-x-3">
        <a class="text-teal-600" href="#">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-twitter">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a class="text-teal-600" href="#">
         <i class="fab fa-linkedin-in">
         </i>
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="text-center mt-12">
     <p class="text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus
      <a class="text-teal-600 font-semibold" href="#">
       View All
      </a>
     </p>
    </div>
  </div>