<footer>
    <div class="bg-[#F0FAF9] py-16">
        <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
            <div class="ml-4">
                <h2 class="text-lg font-bold text-gray-800">Logo</h2>
                <p class="mt-4 text-gray-600">Location: Isr Street girlt awam juim</p>
                <p class="mt-2 text-gray-600">Contact: +9 5555559909</p>
                <p class="mt-2 text-gray-600">Time: (9am - 5pm EST, Monday - Friday)</p>
                <p class="mt-2 text-gray-600">Email: youme&#64;Rule.com</p>
            </div>
            <div class="ml-4">
                <h2 class="text-lg font-bold text-gray-800">Company</h2>
                <ul class="mt-4 text-gray-600 space-y-2">
                    <li>Case Studies</li>
                    <li>Case Details</li>
                    <li>Privacy Policy</li>
                    <li>Services</li>
                </ul>
            </div>
            <div class="ml-4">
                <h2 class="text-lg font-bold text-gray-800">Explore</h2>
                <ul class="mt-4 text-gray-600 space-y-2">
                    <li>About Us</li>
                    <li>Blog And News</li>
                    <li>Blog Details</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="ml-4">
                <h2 class="text-lg font-bold text-gray-800">Insurance</h2>
                <ul class="mt-4 text-gray-600 space-y-2">
                    <li>Health Insurance</li>
                    <li>Car Insurance</li>
                    <li>Business Insurance</li>
                    <li>Life Insurance</li>
                </ul>
            </div>
        </div>
    </div>
</footer>